
.packages{margin:50px 0;display:inline-block;text-align:center;}
.packages .hold{display:inline-block;}
.packages table{border-spacing:0;}
.packages .table-responsive{overflow-x:visible;}
.packages thead{}
.packages th.Features span{border-color:#0063d8;background-color:#0063d8;width:300px;border-radius: 20px 20px 0px 0px;}
.packages th.Platinum span{border-color:#293043;background-color:#293043;border-radius: 20px 20px 0px 0px;}
.packages th.Gold span{border-color:#e38902;background-color:#e38902;border-width:10px 10px 0;margin-top:-19px;border-radius: 20px 20px 0px 0px;}
.packages th.Gold span:before{content:"MOST POPULAR";display:block;font-size:14px;word-spacing:3px;}
.packages th.Silver span{border-color:#013a7d;background-color:#013a7d;border-radius: 20px 20px 0px 0px;}
.packages th.Bronze span{border-color:#b62f2f;background-color:#b62f2f;border-radius: 20px 20px 0px 0px;}
.packages tbody{}
.packages td.Features span{border-color:#0063d8;width:300px;padding-left:15px;text-align:left;}
.packages td.Features .fa{padding-right:10px;font-size:18px;}
.packages td.Platinum span{border-color:#a79d90;}
.packages td.Gold span{border-color:#e38902;border-width:0 10px;}
.packages td.Silver span{border-color:#98aeb6;}
.packages td.Bronze span{border-color:#7e3a24;}
.packages td{text-align:center;}
.packages td .price{background-color:#0E6BDD !important;color:#fff;}
.packages td .book{background-color:#1b2848 !important;color:#fff;border-top:1px solid #fff !important;height:45px;cursor: pointer;}
.packages td .enquire{background-color:#0063d8 !important;color:#fff;border-top:1px solid #fff !important;cursor: pointer;}
.packages th,.packages td{padding:0 15px;line-height:24px;}
.packages th span{color: #fff;text-align: center;font-weight: 800;font-size: 1.3em;text-transform: uppercase;
padding:7px 5px;margin:0;line-height:1.4;display:inline-block;width:150px;}
.packages td span{display:inline-block;padding:10px 0;width:150px;border-width:0 2px;border-style:solid;color: #000;height:45px;}
.packages td span .fa{font-size:24px;}
.packages tr:nth-child(odd) td span{background-color:#ddd;}
.packages tr:last-child td span{border-bottom-width:2px;}

.package-min{}
.package-min li:nth-child(2n+1) td span { background-color: #ddd; }
.package-min li { color: #000; text-align: left; }
.package-min a{display:inline-block;width:100%;color:#fff !important;text-align: center; }
.package-min h3{color: #FFF;font-size: 1.3em;margin:0;padding: 15px 0;font-family:OpenSans-Bold;}
.package-min h3.Platinum{background-color:#a79d90;}
.package-min h3.Gold{background-color:#e38902;}
.package-min h3.Silver{background-color:#98aeb6;}
.package-min h3.Bronze{background-color:#7e3a24;}
.package-min .list-group .fa{font-size:18px;padding-right:10px;}
.package-min .price{background-color:#0E6BDD !important;color:#fff !important;text-align: center;}
.package-min .book{background-color:#1b2848  !important;border-top:1px solid #fff !important;height: 43px;}
.package-min .enquire{background-color:#0063d8 !important;border-top:1px solid #fff !important;}

@media only screen and (max-width: 1200px){
	.packages th,.packages td{padding:0 10px;}
	.packages th span{font-size:1.2em;}
	.packages td span .fa{font-size:20px;}
	.packages td span,.packages th span{width:120px;}
	.packages th.Gold span{margin-top:-38px;}
}
@media only screen and (max-width: 992px)
{
	.packages th,.packages td{padding:0 8px;}
	.packages th span{font-size:1.1em;padding:7px 0;}
	.packages td span .fa{font-size:18px;}
	.packages td span,.packages th span{width:100px;}
}