@font-face{font-family:'proxima-nova';src:url('webfonts/fonts/proxima-nova.TTF')format("truetype");}
@font-face{font-family:'proxima-nova';src:url('webfonts/fonts/proxima-nova.TTF')format("truetype");}
@font-face{font-family:'Gotham-Bold';src:url('webfonts/fonts/GOTHAM-BOLD.TTF')format("truetype");}
@font-face{font-family:'GothamRounded-Light';src:url('webfonts/fonts/GothamRounded-Light.otf')format("truetype");}
body{color:#35383c;font-family:proxima-nova;}
p, .tb-pading li{font-size:18px;list-style:disc}
.font-bold{font-family:proxima-nova!important;}
.font-light{font-family:proxima-nova !important;}
.full-width{width:100% !important;}
.align-center{text-align:center;}
.align-right{text-align:right;}
.align-left{text-align:left;}
.text-blue{color:#0365d4;}
.no-padding{padding:0;}
.no-margin{margin:0;}
.mar-lft{margin-left:4%}
.parallax{background-size:cover;background-repeat:no-repeat;background-position:center;background-attachment:fixed;}
.small{font-size:12px;}
.large{font-size:16px;}
.x-large{font-size:24px;}
.round{border-radius:50%;}
.p{padding:4em 10em;line-height:2;color:#777;letter-spacing:1px;}
.course-searched .all-arw .wht-b{ 
    width: 95%;
    color: #0063d7 !important;
	background:transparent !important;
    border: 1px solid #0063d7;
}
p.font-light{color:#fff;padding:15px 0 0 100px;font-size:18px;}
.block{display:block;}
.bread-crumbs{background-color:#2b2b2b;color:#fff;font-size:24px;padding:1.5em 2em;}
.bread-crumbs .bc{}
.bc li{position:relative;}
.bc li.active{color:#999;}
.bc li + li:before{content:'/';padding-right:.5em;color:#999;}
ul.inline{list-style-type:none;}
ul.inline li{float:left;}
.getqute li a i{padding-right:3px !important;}
.ui-autocomplete{z-index:99999 !important;}
#toolbar{background:#0063d7;border-bottom-left-radius:2px;border-top-left-radius:2px;color:#fff;position:fixed;right:0;top:35%;width:80px;}
#toolbar a{border-radius:3px;box-shadow:0 0 3px rgba(0, 0, 0, 0.6);float:right;margin:5px;padding-left:5px;padding-right:3px;padding-top:3px;text-align:center;}
#toolbar a span{color:#fff;float:left;text-align:center;width:100%;}
.top-bar{background-color:#293043;}
.top-bar .arrow{background-color:transparent;border:0;color:#FFF;font-size:14px;}
.top-bar .arrow .fa{padding:0;padding-right:10px;font-size:16px;color:#fff;}
.top-bar .select-box{float:right;}
.top-bar ul{display:inline-table;padding:8px 0;}
.top-bar ul li{}
.top-bar ul li + li{margin-left:1em;}
.select-box select{width:200px;height:38px;background-color:#EFEDEE;text-indent:10px;border:none;}
}
.list-group-item{padding:11px 15px;}
.logo-bar{background-color:#efedee;}
.logo-bar .logo{}
.logo-bar .logo img{width:75%;padding-top:7px;}
.logo-bar ul{display:inline-block;padding:20px 0;font-size:14px;float:right;}
.logo-bar ul li{position:relative;border-right:2px solid #0063d8;padding-right:20px;font-weight:700;}
.logo-bar ul li + li{margin-left:65px;border:0;padding:0;}
.logo-bar ul .fa{position:absolute;left:-40px;font-size:30px;top:5px;}
.logo-bar li .title{}
.logo-bar li .info{color:#35383c;}
.navbar{background-color:#0063d8;border-radius:0;border:0;margin:0;}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{background-color:#1b2848 !important;}
 /*.nav .open > a:focus .bg-blk, .nav .open > a:hover .bg-blk{display:block}*/
.nav>li>a:focus, .nav>li>a:hover ,.nav>li>a:active{background-color:#1b2848 !important;}
.navbar-nav{font-size:1.2em;}
.navbar-nav>li>a{padding:20px 24px;font-weight:600}
.cart-icon{display:inline-block;padding:0.5em;float:right;}
.cart-icon img{margin-top:5px;}
header .slide-img{padding:3em 7em;background:url(../images/banner.jpg);background-repeat:no-repeat;background-size:cover;width:100%;}
.nav-tabs{width:auto;display:inline-block;background-color:#efedee;border:0;margin:0;}
.nav-tabs>li{margin:0;}
.slide-img h1{font-size:30px;}
.tab-contents{background-color:rgba(27,40,72,0.95);color:#fff;padding:1.7em 2em;min-height:369px;}
.tab-contents p{font-size:30px;}
.dropdown-menu .tab-contents , .dropdown-menu .slider-tab-content .lft-ul{background:#1b2848}
.dropdown-menu .slider-tab-content .ryt-ul{background:#efedee}
.tab-content{background-color:rgba(27,40,72,0.95);color:#fff;padding:1.7em 2em;}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{color:#fff;background-color:#0063d8;font-size:1.7em;margin:0;border:0;border-radius:0;}
.nav-tabs>li>a{font-size:1.7em;color:#1b2848;margin:0;border:0;}
.nav-tabs>li>a .course{background:url(../images/user-search-gry.png);width:100%;padding:0.8em;background-repeat:no-repeat;background-position:5px center;}
.nav-tabs>li>a .advanced{background:url(../images/search-gry.png);width:100%;padding:0.8em;background-repeat:no-repeat;background-position:5px center;}
.nav-tabs>li>a:hover{background-color:#1b2848;border-radius:0;color:#fff;}
.nav-tabs>li>a:hover .advanced,
.nav-tabs>li.active>a .advanced{background:url(../images/search-wht.png);width:100%;padding:0.8em;background-repeat:no-repeat;background-position:5px center;}
.nav-tabs>li>a:hover .course,
.nav-tabs>li.active>a .course{background:url(../images/user-search-wht.png);width:100%;padding:0.8em;background-repeat:no-repeat;background-position:5px center;}
.tab-contents .select2-selection{font-size:20px;height:60px;border-radius:0;border:2px solid #0063d8; padding:13px;}
.select2-container--default .select2-selection--single .select2-selection__arrow {height: 50px; position: absolute; top: 1px; right: 1px; width: 30px;}
.select2-container {box-sizing: border-box; display: inline-block; margin: 0; position: relative; vertical-align: middle;width: 100% !important;}
.tab-contents .btn{width:100%;background:#0063d8;border:0;color:#fff;font-size:2em;border-radius:0;padding:0.5em;font-family:proxima-nova;margin:1.35em 0;}
.tab-contents .btn img{width:26px;height:26px;margin-left:15px;margin-top:-3px;}
.all-arw .btn{margin:0.4em 0;background-color:#0063d8;color:#fff !important;border-radius:0;}
.all-arw .btn img{width:22px;height:22px;margin-left:12px;}
.all-arw-m .btn img{width:22px;height:22px;margin-top:4px;}
.navbar-toggle .icon-bar{background:#fff}
.bg-blk{display: none; width: 98.9vw; height: 100vh; background-blend-mode: overlay; background-color: rgba(0,0,0,0.9);position: absolute; top:60px;z-index:20}
@media screen and (-webkit-min-device-pixel-ratio:0){.list-group-item{padding:11px 15px;}
.section4 .box2{padding:0.7em;}
.tab-content{padding:1.67em 2em;}
.dropdown-menu{left:-101% !important;}
}
div.slider-tab-container{z-index:10;background-color:transparent;padding:0 !important;min-height:369px;}
div.slider-tab-menu{padding-right:0;padding-left:0;padding-bottom:0;}
div.slider-tab-menu div.list-group{margin-bottom:0;background-color:#0063d7;min-height:369px;}
div.slider-tab-menu div.list-group>a{margin-bottom:0;background-color:#0063d7;);color:#fff;border:0;border-radius:0;outline:none;}
div.slider-tab-menu div.list-group>a .glyphicon,
div.slider-tab-menu div.list-group>a .fa{color:#5A55A3;}
div.slider-tab-menu div.list-group>a:first-child{border-top-right-radius:0;-moz-border-top-right-radius:0;}
div.slider-tab-menu div.list-group>a:last-child{border-bottom-right-radius:0;-moz-border-bottom-right-radius:0;}
div.slider-tab-menu div.list-group>a.active,
div.slider-tab-menu div.list-group>a.active .glyphicon,
div.slider-tab-menu div.list-group>a.active .fa{background-color:#0063d7;color:#ffffff;border-style:solid;}
div.slider-tab-menu div.list-group>a .classroom{background:url(../images/classroom.png);width:100%;padding:2.2em 2em;background-repeat:no-repeat;background-position:25px center;float:left;}
div.slider-tab-menu div.list-group>a .virtual{background:url(../images/certificate.png);width:100%;padding:2.2em 2em;background-repeat:no-repeat;background-position:15px center;float:left;}
div.slider-tab-menu div.list-group>a .online{background:url(../images/online.png);width:100%;padding:1.92em 0.1em;background-repeat:no-repeat;background-position:25px center;float:left;}
div.slider-tab-menu div.list-group>a .title{position:relative;display:inline-block;font-size:1.1em;}
div.slider-tab-menu div.list-group>a.active:after{content:'';position:absolute;left:100%;top:25%;margin-top:-13px;border-left:0;border-bottom:13px solid transparent;border-top:13px solid transparent;border-left:10px solid #0063d8;}
ul.lft-ul>.topcategories.active:after{content:'';position:absolute;left:50%;margin-top:-13px;border-left:0;border-bottom:13px solid transparent;border-top:13px solid transparent;border-left:10px solid #1e2b49;}
div.slider-tab-content ul>li ,div.slider-tab-content ul>div>li{padding:0.4em 0;overflow:hidden;text-overflow:ellipsis;/*white-space:nowrap;*/width:100%;color:#fff;}
div.slider-tab-content .ryt-ul>li{color:#2f3034;}
div.slider-tab-content ul>div>li{color:#2f3034 !important;}
div.slider-tab div.slider-tab-content:not(.active){display:none;}
.slider-tab-content .lft-ul{float:left;display:inline-block;background-color:rgba(27,40,72,0.95);padding:1em 2em;height:369px;width:50%;}
.slider-tab-content .ryt-ul{float:left;display:inline-block;background-color:rgba(239,237,238,0.9);padding:1em 2em;height:369px;width:50%;}
.slider-tab-content .ryt-ul a{color:#2f3034;}
.slider-tab-content .ryt-ul h2{margin:0;font-size:1.5em;margin-bottom:15px;font-family:proxima-nova;letter-spacing:0;}
.topcourses:not(.active){display:none;}
#goToTop{position:fixed;right:35px;bottom:25px;background-color:#0063d7;border-radius:50%;padding:10px 15px;color:#FFF;text-decoration:none;width:45px;height:45px;font-size:1.6em;transition:0.5s;z-index:999;}
#goToTop.godown{bottom:-60px;opacity:.1;}
.section1{padding:2.5em 0;background-color:#fff;}
.section1 h2{font-size:3.1em;text-align:center;margin:0;font-family:proxima-nova;margin-bottom:0.7em;}
.section1 h2 span{color:#0063d7;}
.carousel{margin-bottom:0;padding:0 40px 30px 40px;}
.carousel-control{left:-12px;height:40px;width:40px;background:none repeat scroll 0 0 #222222;border:4px solid #FFFFFF;border-radius:23px 23px 23px 23px;margin-top:90px;}
.carousel-control.right{right:-12px;}
.carousel-indicators{right:50%;top:auto;bottom:-10px;margin-right:-19px;}
.carousel-indicators li{background:#cecece;}
.carousel-indicators .active{background:#428bca;}
.thumbnail{border:0;}
.thumbnail a>img, .thumbnail>img{margin:0;}
.section1 .info-box{max-height:230px;background-color:#efefef;color:#000;padding:1em;width:50%;position:absolute;left:44%;top:5%;}
.section1 .info-box h3{font-size: 20px;margin:0;/*overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%;*/}
.info-box a{color:#293043;}
.info-box a:hover{color:#0063d8;}
.section1 .info-box p{padding:0.5em 0;max-height:99px;overflow:hidden;text-overflow:ellipsis;white-space:normal;color: #35383c;font-size:1.1em}
.section1 .info-box .btn{margin:0em 0;background-color:#0063d8;color:#fff;border-radius:0;display:inline-block}
.inlineb{display:inline-block !important}
.section1 .info-box .btn:hover{background-color:#012754;}
.section1 .top-padd{padding:3em 0;}
.section1 .count-box{background-color:#012754;text-align:center;text-align:center;padding:3em;}
.section1 .count-box img{height:75px;}
.section1 .count-box p{color:#fff;text-align:center;padding:0.5em 0 0 0;font-size:3em;margin:0;font-family:proxima-nova;}
.section1 .count-box p span{font-size:0.5em;}
.count-box:nth-child(1){background-color:#0063d8;}
.count-box:nth-child(2){background-color:#004a9f;}
.count-box:nth-child(3){background-color:#013a7d;}
.section2{padding:3em 0;background-color:#efefef;}
.section2 .back-img{background:url(../images/topics.png);background-repeat:no-repeat;background-size:190px;background-position:center 110px;}
.section2 h2{font-size:3.1em;text-align:center;margin:0;font-family:proxima-nova;}
.section2 h2 span{color:#0063d7;}
.owl-nav{display:none}
.list-dates{margin:0 10px;}
.crs-margin h2{margin-top:0;}
.section2 ul li a{width:100%;float:left;padding:1em;background:#0064d8;margin-bottom:10px;margin-right:10px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.section2 ul li a:hover{background-color:#012754;}
.section2 .ul-left li a .pull-right{margin-top:5px;}
.section2 .ul-left li a img,
.section2 .ul-left li a h3{float:left;font-size:1.3em;padding:0 5px;font-family:proxima-nova;letter-spacing:0;}
.section2 .ul-left li h3{color:#fff;font-weight:bold;margin:10px 0px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:80%;}
.section3{padding:2.5em 0;background:url(../images/loc.png);background-repeat:no-repeat;background-size:cover;width:100%;}
.section3 h2 , .section3 .loc-head{font-size:3.1em;padding:0;text-align:center;margin:0;font-family:proxima-nova;}
.section3 h2 span , .section3 p span{color:#0063d7;}
.section3 img{width:100%;}
.section3 .btm-marr{margin-bottom:3em;}
.section3 p , .section2 p{font-size:1.2em;text-align:center;margin:0;letter-spacing:0;padding:1.5em 0;}
.section3 .info-box{background-color:#1b2848;text-align:center;padding:2.5em 0;}
.section3 .info-box h3 , .section3 .info-box .loc-intro{color:#fff;margin:0;font-size:1.4em; text-align:center;}
.section3 .info-box p{color:#fff;padding:2em 1.5em;font-size:1em;text-align:left;}
.section3 .info-box .btn{background-color:#fff;padding:0.5em 1.5em;font-size:1.4em;color:#0468d7;text-align:center;border-radius:0;margin-top:1.5em;}
.colm{padding:0 15px 40px 15px;text-align:center;}
.colm a{background-color:transparent;display:inherit;color:#0468d7;padding:0.8em 2em;font-size:1.5em;width:100%;border:2px solid #0468d7;position:relative;z-index:0;overflow:hidden;transition:.2s;}
.colm a:after{content:'';width:0;height:0;-webkit-transform:rotate(360deg);border-style:solid;border-width:0 0 0 0;border-color:#0468d7 transparent transparent transparent;position:absolute;top:0;left:0;transition:.5s;z-index:-1;}
.colm a:hover{color:#fff;border-color:#0468d7;}
.colm a:hover:after{border-width:330px 330px 0 0;}
.colm a:focus{color:#012754;}
.section4{padding:4em 0;background-color:#e3e3e3;}
.section4 h2{font-size:3.1em;text-align:center;margin:0;font-family:proxima-nova;}
.section4 h2 span{color:#0063d7;}
.section4 ul{display:inline-block;margin-top:2em;}
.section4 ul li{float:left;}
.section4 .box1{min-height:105px;width:17%;padding:1.3em 0.2em;background:#fff;text-align:center;color:#0063d7;font-size:1.79em;line-height:20px;font-family:proxima-nova;letter-spacing:0px;border-left:2px solid;}
.section4 .box2{width:298px;background-color:#fff;padding:0.7em;margin:0 5px;min-height:105px;}
.section4 .box2 span{float:left;padding:0.2em;}
.section4 .box2 span a{color:#0063d8;}
.section4 .box2 .box-heading{font-size:1.2em;font-family:proxima-nova;letter-spacing:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%;}
.section4 .box2 .span1{padding-right:3em;}
.section4 .box2 .box-info .fa{padding-right:0.5em;font-size:1.3em;}
.section4 .box2 .box-info{width:100%; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.section4 .box2 .box-info p{ text-overflow:ellipsis; overflow:hidden;}
.section4 .box3{background-color:#fff;width:20%;text-align:center;padding:0.5em 0.9em;min-height:105px;}
.section4 .box3 .btn{margin:0.4em 0;background-color:#0063d8;color:#fff;border-radius:0;width:100%;}
.section4 .box3 .btn:hover{background-color:#012754;}
.section5{padding:2em 0;background-color:#fff;}
.section5 h2 ,.section5 h1{font-size:3.1em;text-align:center;margin:0;font-family:proxima-nova;}
.section5 h2 span , .section5 h3{color:#0063d7;margin-top:0px;}
.section5 .tsts{margin:40px 0px 10px 0px;background:#fff;box-shadow:2px 2px 6px #888888;padding:15px;min-height: 224px;}
.section5 p{margin-top:10px;text-align:center;}
.trust{margin-top:20px}
.arc img{width:18%; margin:0 10px;}
a{text-decoration:none;color:#fff;outline:none;}
a:focus, a:hover , a:active{outline:none;}
a:focus, a:hover{text-decoration:none;color:#fff;}
ul{list-style:none;padding:0;}
footer{background-color:#293043}
footer .links{padding:2em 0;}
footer .links .fa{padding:0 20px 0 0;font-size:1.5em;}
footer .links .heading{color:#fff;font-size:1.5em;position:relative;}
footer .links .heading:after{position:absolute;content:'';height:3px;width:79px;background-color:#0664d6;bottom:-12px;left:2px;}
footer .links ul{color:#fff;padding-top:20px;font-size:1.2em;}
footer .links ul li{padding:8px 0;font-family:proxima-nova;display:inline-flex;width:100%;}
footer .links p{color:#fff;padding-top:30px;font-size:1.2em;font-family:proxima-nova;text-align:justify;}
.course-category .boxes .btm-link img{margin-left:10px;}
.breadcrumb{margin:0;background-color:transparent;font-size:1.3em;font-family:proxima-nova;padding:35px 0 0 0;}
.breadcrumb a{color:#fff;font-weight:bold;}
.breadcrumb>.active{color:#fff;font-weight:bold;}
.search-bar{background-color:rgba(27, 40, 72, 0.8);padding:1.2em 0;}
.ad-search{height:48px;}
.side-panel-serch{background:#F7F7F7;margin:30px 0px;padding:20px;border:1px solid #eee}
.side-panel-serch .brd-ad{border-bottom: 1px solid #ccc;padding-bottom:10px;font-size:19px}
.checkbox label{margin-bottom:15px;padding-left:0;width: 100%;}
.checkbox .cr{
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}
.checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon{
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
.checkbox label input[type="checkbox"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}
.serch-res-ad{margin:30px 0px;}
.black-clr,.black-clr:hover{color:#35383c}
.course-img-src{max-width:171px}
.course-searched{margin:30px 0px;}
.course-name ,.course-name:hover,.course-name:focus{font-size:20px;color:#0063d8}
.course-searched{border-bottom:1px solid #ccc}
.course-searched .all-arw .btn{margin:0.2em 0;}
.course-sr-cnt{min-height:150px;overflow:hidden}
.course-sr-cnt p a{color:#0063d8}
.blue-b{background:#012754 !important;width:95%;padding: 0.65em 1em !important;}
.search-bar .inputs, .search-bar .select2-selection{height:50px;border-radius:0;background:#f8f8f8;border:1px solid #f8f8f8}
.search-bar .select2-container .select2-selection--single .select2-selection__rendered { padding-top: 10px;font-size: 14px;color: #555;}
.search-bar .btn{border-radius:0;height:50px;background-color:#0063d8;color:#fff;font-size:2em;padding:0;font-family:proxima-nova;}
.inner-banner{padding:2em 0;padding-bottom:0em;background:url(../images/inner-banner.jpg);background-repeat:no-repeat;background-size:cover;width:100%;}
.inner-banner h1{text-align:center;font-family:GothamRounded-Light;font-size:53px;font-weight:600;color:#fff;padding-bottom:0.2em;letter-spacing:0px;}
.inner-banner p{text-align:center;color:#fff;font-size:1.5em;font-family:proxima-nova;}
.course-arw-in:after{content:"";background-image:url(../images/topic-arw.png);top: 12px;right: 0px;position: absolute;width: 25px;height: 25px;}
.course-category{padding:2em 0;}
.course-category h2{font-size:3.5em;text-align:center;margin:0 0 0.5em 0;font-family:proxima-nova;text-align:center;letter-spacing:0px;}
.course-category h2 span{color:#0063d7;}
.course-category p{font-size:18px;font-family:proxima-nova;text-align:justify;line-height:2em;}
.course-category .boxes h3{text-align:center;font-size:1.4em;background-color:#e8e8e8;padding:0.5em;margin:0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;width:100%;}
.course-category .boxes h3 a ,.course-category .boxes h3 a:hover{color:#293043;}
.course-category .boxes .top-padd{padding-top:2em;}
.course-category .boxes ul{background-color:#0063d8;padding:1em;margin:0;height:390px;overflow: auto;}
.course-category .boxes ul>li{padding:0.8em 0;font-size:1.2em;font-family:proxima-nova;width:95%;color:#fff;  border-bottom: 1px dotted #fff;position: relative;}
.course-category .boxes .btm-link{background-color:#1b2848;padding:0.5em 2em;display:inline-block;width:100%;}
.course-subcategory{padding:1.5em 0;}
.course-subcategory h2, .course-subcategory .wht-include , .course-subcategory .conts .txt-cnt {color:#35383c;font-size:3em;text-align:center;margin:0 0 0.7em 0;font-family:proxima-nova;text-align:center;letter-spacing:0px;}
.course-subcategory h2 span , .course-subcategory .wht-include span {color:#0063d7;}
.course-subcategory .btm-border{border-bottom:1px solid #b9b9b9;}
.course-subcategory .course-list{padding:2em 0;border-bottom:1px solid #b9b9b9;}
.course-subcategory .course-list .name{color:#35383c;line-height:1.7;font-size:1.3em;font-family:proxima-nova;letter-spacing:0px;padding-top:0.8em;}
.course-subcategory .course-list .name a{color:#35383c;}
.course-subcategory .buttons .btn{font-size:1.2em;padding:0.45em 1em;float:right;clear:both;border-radius:0;width:100%;color:#0063d7;border:1px solid #0063d7;}
.course-subcategory .buttons .btn-blue{background-color:#0063d7;color:#fff;margin-bottom:0.5em;}
.rw-catg .btn img{width:20px;height:20px;}
.rw-catg .btn img.m{margin-left:23px;width:21px;height:21px;}
.tb-pading{padding-top:40px}
.sroll-hieght{max-height:240px;overflow:hidden;}
.sroll-hieght ul{list-style:disc;padding-left:20px;}
.toggle{max-height:100% !important;}
.conts{width:33%;padding:0 15px;display:table-cell;}
.conts li{font-size:18px;}
.show-more{margin-top:20px;color:#0063d8;font-size:20px;cursor:pointer;}
.show-more:hover , .show-more:focus{outline:none !important}
.course-subcategory .conts h2 , .course-subcategory .conts .txt-cnt {font-size:2em}
.path-detail p{margin:40px 0;}
.course-content{padding:1em 0;}
.course-content h2 , .course-content .btm-bor p{color:#35383c;font-size:3em;text-align:center;margin-bottom:0.5em;font-family:proxima-nova;text-align:center;letter-spacing:0px;}
.course-content h2 span , .course-content .btm-bor p span{color:#0063d7;}
.course-content .btm-pd{padding:2em;}
.course-content p a{color:#0063d7;}
.course-content .btm-padd{padding-bottom:1em;}
.course-content ul .list{display:block;padding:2em 0 0em 0;width:50%;float:left;min-height:80px;}
.course-content .ul-left li img,
.course-content .ul-left li h3{float:left;font-size:1.3em;padding:0 0.3em;font-family:proxima-nova;margin:0;letter-spacing:0px;}
.course-content .ul-left li h3{width:91%;line-height:1.3em;min-height: 72px;}
.course-content .ul-left li h3 a{color:#000;}
.course-content .ul-left div{width:50%}
.course-content .tab-pane ul{padding-left:40px;list-style:disc;}
.course-content .tab-pane ul ul{padding-left:30px;}
.course-date{background:#0063d8}
.course-date .buttons ul{display:inline-block;width:100%;margin-top:5px !important;margin:0;}
.course-date .buttons li{float:left;}
.course-date .buttons li a{cursor: pointer;background-color:#0063d8;text-align:left;padding:0.4em;display:block;font-size:1.6em;font-family:proxima-nova;letter-spacing:0px;}
.course-date .buttons li a#goto4 , .course-date .buttons li a#goto5 , .course-date .buttons li a#goto6 , .course-date .buttons .enq a{background:#012754;border-radius:7px;padding:5px 10px;margin-top:4px;cursor:pointer;}
.course-date .buttons li a img{width:24px;margin-right:10px;margin-top:-5px;margin-left:18px;}
.course-date .buttons li a img + img{width:22px;height:22px;margin-left:20px;}
.course-content .nav-tabs{background-color:transparent;}
.course-content .nav-tabs>li.active>a,
.course-content .nav-tabs>li.active>a:focus,
.course-content .nav-tabs>li.active>a:hover{background-color:#012754;color:#fff;}
.course-content .nav-tabs>li{background-color:#0063d8;border-left:1px solid #fff;}
.course-content .nav-tabs>li a{color:#fff;padding:0.5em 2em;font-family:proxima-nova;letter-spacing:0px;cursor:pointer;}
.course-content .tab-content{background-color:#efedee;color:#000;}
.course-content .tab-content p , .course-content .tab-content li p{font-size:20px;line-height:1.5em;font-family:proxima-nova;letter-spacing:0px;}
.course-content .tab-content li{font-size:20px;}
.course-content .tab-content li span a ,.course-content .tab-content li a , .course-content .tab-content p a{color:#0063d8 !important}
.course-content .tab-content h3{font-weight:bold;font-size:22px;}
.course-content .tab-content h4{font-weight:bold;}
.course-content .nav-tabs{display:block}
.logo-bnr img{max-width:170px;max-height:150px;}
.online-course .boxes .top-padd{padding-top:3em;}
.online-course .boxes .top-padd .box-bor{background-color:#fff;border:1px solid #ddd;padding:0px 20px;min-height:200px;}
.online-course .boxes h3{text-align:center;font-size:1.7em;padding:1.5em 0;margin:0;border-bottom:1px solid #ddd;color:#0063d7;}
.online-course .boxes .top-padd .box-bor a{color:#35383c;padding:10px 0px;display:block;overflow:hidden;text-overflow:ellipsis;width:100%;white-space:nowrap;}
.online-course .cr h2{color:#35383c;margin:0.5em}
.online-course .cr h2 span{color:#0063d8;}
.includedico{display:inline-block;margin:0px 30px}
.course-arw img{height:20px;width:20px;}
.certifications{padding:4em 0}
.certifications h2{font-size:3.1em;text-align:center;margin:0;font-family:proxima-nova;margin-bottom:1em;}
.certifications p{font-size:18px;margin-bottom:30px;}
.certifications .ul-left li{width:48%;float:left;background:#0064d8;margin-bottom:10px;margin-right:10px}
.certifications .ul-left li:hover{background-color:#012754;}
.certifications .ul-left h3{float:left;margin:0px;width:92%;}
.certifications .ul-left h3 a{width:100%;display:block;height:60px;text-indent:20px;line-height:2.5;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.certifications .ul-left a img{margin-top:15px;margin-right:10px;}
.filter-alpha li{list-style:none;display:inline-block;}
.filter-alpha li a{width:34px;height:34px;line-height:34px;display:block;background:#1B2848;text-align:center;color:#fff;font-size:20px;margin:2px;cursor:pointer;}
.filter-alpha li a:hover{background:#0063D8;}
.mar-top-all{margin-top:40px;}
.loc-btn .btn{padding:10px 20px;font-size:20px}
.loc-btn .btn:hover{background:#1B2848;}
.blog{padding:3em 0;background-color:#fff;}
.blog h2{font-size:2.6em;text-align:center;margin:0;font-family:proxima-nova;letter-spacing:0px;margin-bottom:1em;color:#35383c;}
.blog h2 span{color:#0063d7;}
.blog-info{background-color:#fff;padding:14px;padding-bottom:0;border:1px solid #ccc;border-left:1px solid #f7f7f7;}
.blog-info h3{margin-top:5px;padding:0px 10px;color:#0063d7;}
.blog-info p{margin-top:15px;padding:10px;}
.blog-time{border-top:1px solid #ccc;margin-top:15px;}
.blog-time p{margin:10px;padding:4.5px 5px;}
.blog-time span{margin:10px;padding:4.5px 5px;}
.blog-box{margin-bottom:40px;}
.blog-content{min-height:177px;}
.blog-content a, .blog-time a{color:#0063d7;}
.blog-box .v-img img{width:100%}
.blog-detail h3{color:#0063d7;}
.blog-detail h3 span{color:#35383c;font-size:15px;}
.blog-detail img{margin-top:20px;margin-bottom:20px;}
.blog-detail p{padding:20px 13px;text-align:justify;}
.about{padding:3em 0;background-color:#fff;}
.about h2{font-size:2.6em;text-align:center;margin:0;font-family:proxima-nova;letter-spacing:0px;margin-bottom:1em;color:#0063d7;}
.about p{color:#2a2829;text-align:justify;}
.about-boxes{margin-top:50px;}
.about-box{background-color:#0063D8;padding:3em 2em;}
.about-box h2{font-size:3.1em;text-align:center;margin:0;font-family:proxima-nova;letter-spacing:0px;margin-bottom:1em;color:#fff;}
.about-box p{color:#fff;text-align:center}
.about-desc{padding:3em 0;background-color:#fff;}
.about-desc h2{font-size:3.1em;text-align:center;margin:0;font-family:proxima-nova;letter-spacing:0px;color:#0063D8;font-weight:800;margin-top:10px;}
.about-desc p{color:#0063D8;text-align:center;font-weight:800;margin:10px 0px;font-size:16px;}
.about-desc-border{border-right:2px solid #EFEFEF;padding:20px 30px;}
.testimonials{padding:10px 0px;;}
.testimonials p{color:#fff;text-align:justify;line-height:1.5;padding:20px;min-height:202px;}
.test-data{border-right:2px solid #fff;background-color:#0063D8;padding:15px;text-align:center;}
.test-data img{height:110px;width:110px;padding:15px;}
.test-data h4{font-size:14px;font-weight:bold;text-align:center;color:#fff;padding-bottom:10px;}
.quick-links{padding:3em 0;background-color:#fff;}
.quick-links h2{font-size:3.1em;text-align:center;margin:0;font-family:proxima-nova;letter-spacing:0px;margin-bottom:1em;color:#35383c;}
.quick-links h2 span{color:#0063d7;}
.onsite{padding:3em 0;background-color:#fff;}
.onsite h2{font-size:3.1em;text-align:center;margin:0;font-family:proxima-nova;letter-spacing:0px;margin-bottom:1em;color:#35383c;}
.onsite h2 span{color:#0063d7;}
.onsite p{margin:10px;}
.onsite-form{background-color:#1C2848;padding:0em;}
.onsite-form p{padding:5px 0px 10px 0px;text-align:center;color:#fff;}
.onsite-form input ,.onsite-form select{background-color:#EFEDEE;border:2px solid #0063D8;margin:10px 0px;height:60px;border-radius:0;}
.onsite-form textarea{background-color:#EFEDEE;border:2px solid #0063D8;margin:5px 0px;border-radius:0;}
.onsite-form button{background-color:#0063D8;margin-top:30px;border-radius:0;font-weight:bold;font-size:25px;}
.venue{padding:4em 0;background-color:#fff;}
.venue h2{font-size:3.1em;text-align:center;margin:0;font-family:proxima-nova;letter-spacing:0px;margin-bottom:1em;color:#0063d7;}
.v-img{padding:0;}
.venue-info{background-color:#EFEDEE;min-height:260px;padding:40px;}
.venue-info p{margin-top:10px;font-weight:bold;font-size:18px;}
.venue-info p a{color:#0063D8;}
.venue-info h3{padding:10px 0px;margin:0}
.venue-detail{margin-top:20px;margin-bottom:20px;}
.venue-detail h3{padding:10px 0px;}
.venue-detail p{text-align:justify;}
.venue-detail a{color:#0063D8}
.alert p {color:#fff;}
 .alert .text-real-red {font-size:30px;color: #fff;}
.alert{padding:15px;margin:20px;border:1px solid transparent;border-radius:4px;text-align:center;color:#fff;background-color:#2F3A58;}
.contact{padding:4em 0;background-color:#fff;}
.contact-enquiry{color:#fff;text-align:center;background-image:url(../images/cont.png);z-index:1;background-repeat:no-repeat;height:120px;}
.contact-enquiry h1,.contact-enquiry p{padding:30px 20%;font-size:2em;}
.contact-form{background-color:#1C2848;padding:4em 0;margin-top:-42px;}
.contact-enquiry{color:#fff;text-align:center;background-image:url(../images/cont.png);z-index:1;background-repeat:no-repeat;height:120px;}
.pd-r{padding-right:5px}
.pd-l{padding-left:5px}
.contact-enquiry h4{padding:30px 20%;font-size:2em;}
.contact-form{background-color:#1C2848;padding:4em 0;margin-top:-42px;}
.contact-form p{padding:5px 0px 10px 0px;text-align:center;color:#fff;}
.contact-form input{background-color:#EFEDEE;border:2px solid #0063D8;margin:5px 0px;height:60px;border-radius:0;}
.contact-form textarea{background-color:#EFEDEE;border:2px solid #0063D8;margin:5px 0px;border-radius:0;}
.contact-form button{background-color:#0063D8;margin-top:9px;border-radius:0;font-weight:bold;font-size:25px;}
.modal-header{border-bottom:0;}
.modal-dialog{width:400px;}
.modal-body .form-group .form-control{box-shadow:none;border-radius:0px;height:40px;border-bottom:1px solid #eee;border-left:0;border-top:0;border-right:0}
.modal-footer{border-top:none;text-align:center;padding:0;}
.modal-footer button{border-radius:0;width:100%;padding:15px;font-size:20px;}
.modal-title{color:#0063d7;font-weight:600;font-size:18px;font-family:proxima-nova;text-align:center;}
.loading-image-eq{position:absolute;top:35%;left:40%;}
.course-schedule .loading-image-eq{position:absolute;top:25%;left:45%;}
textarea{resize:none;}
.dropdown-menu .slide-img{margin-top:-1px;background-image:none;padding:0px 6.3em 2em;}
.dropdown-menu{width:1152.3px;left:-100% !important;padding:0;border:none;border-radius:0;box-shadow:none;background:none;}
.drop-elcas{width:200px;background:#efedee;left: 0px !important;}
.drop-elcas li a{color:#35383c;padding:10px 20px;font-size:16px;font-weight:600}
.drop-elcas > li > a:focus, .drop-elcas > li > a:hover{background:#0063d7;color:#fff;}
.dop{left:-148% !important;}
.dop2{left:-227% !important;}
.modal-body .form-group textarea{height:auto !important;border-bottom:0 !important}
.con-info h2{font-size:3.1em;margin:0;font-family:proxima-nova;letter-spacing:0px;}
.con-info h2 span{color:#0063d7;}
.con-info p{margin-top:20px;}
.con-phone i{font-size:30px;color:#0063D8;}
.con-phone h4{font-weight:bolder;}
.contact-font{margin:15px 10px;}
.contact-font i{color:#fff;border-radius:50%;height:40px;width:40px;text-align:center;font-size:20px;padding-top:9px;margin:0px 10px;}
.con-phone p a{color:inherit;}
.con-color1{background-color:#4e71a8;}
.con-color2{background-color:#1cb7eb;}
.con-color3{background-color:#e3411f;}
.con-color4{background-color:#686b01;}
.con-info h2,.con-info .cnt-hed{font-size:3.1em;margin:0;font-family:proxima-nova;letter-spacing:0px;color:#35383c;}
.con-info h2 span ,.con-info .cnt-hed span{color:#0063d7;}
.con-info p{margin-top:20px;}
.con-phone i{font-size:30px;color:#0063D8;}
.con-phone h4{font-weight:bolder;}
.contact-font{margin:15px 10px;}
.contact-font i{color:#fff;border-radius:50%;height:40px;width:40px;text-align:center;font-size:20px;padding-top:9px;margin:0px 10px;}
.alert-danger{color:#de2925;background-color:#2f3a58;border-color:#1C2848;width:90%;margin-left:5%;text-align:left;text-transform:uppercase;text-shadow:1px 2px #483c3c;font-weight:bold;}
.con-phone p a{color:inherit;}
.con-color1{background-color:#4e71a8;}
.con-color2{background-color:#1cb7eb;}
.con-color3{background-color:#e3411f;}
.con-color4{background-color:#686b01;}
.panel-title a:hover , .panel-title a:focus{color:#000;}
.panel-title a{width:100%;display:block}
.panel-heading [data-toggle="collapse"]:after{font-family:'FontAwesome';content:"\f0da";float:right;color:#0063d8;font-size:18px;line-height:22px;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg);}
.panel-heading [data-toggle="collapse"].collapsed:after{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);color:#454444;}
.tsts{padding:10px;border:2px solid #ccc;margin-bottom:10px}
.course-schedule{padding:1.5em 0;}
.course-schedule h2{font-size:3em;text-align:center;margin:0;font-family:proxima-nova;text-align:center;letter-spacing:0px;}
.course-schedule h2 span{color:#0063d7;}
.course-schedule .btm-padd{padding-bottom:3em;}
.table>thead>tr>th{background-color:#0063d8;color:#fff;padding:20px;font-size:17px;border-bottom:0;font-family:proxima-nova;letter-spacing:0px;}
.table>tbody>tr>td{vertical-align:middle;font-size:1.2em;padding:8px 20px;font-family:proxima-nova;transform:scale(1,1);letter-spacing:0px;}
.table>tbody>tr>td .price{text-align:center;font-size:1.4em;background-color:#0063d7;color:#fff;padding:10px;cursor:pointer}
.table>tbody>tr>td:last-child{padding-right:0;}
.course-schedule .buttons .btn{font-size:1em;padding:0.65em 1em;float:right;clear:both;border-radius:0;width:100%;color:#0063d7;border:1px solid #0063d7;}
.course-schedule .buttons .btn-en{padding:0.25em 1em;}
.course-schedule .buttons .btn-blue{background-color:#012754;color:#fff;margin-bottom:0.3em;}
.course-schedule .buttons .btn img{width:20px;height:20px;margin-left:20px}
.pagination{float:right}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{background:#0063d8;border-color:#0063d8;}
.loc-drop{color:#fff;font-weight:300;background:#0063D8;border:none}
.fixed{position:fixed;width:100%;z-index:999;top:0}
.solution{padding:4em 0;background-color:#fff;}
.solution h2{font-size:3em;text-align:center;margin:0;font-family:proxima-nova;text-align:center;letter-spacing:0px;}
.solution-box{padding:3em 0;margin-top:4em;}
.col-md-3:nth-child(1) .solution-data{background-color:#0063D8;}
.col-md-3:nth-child(2) .solution-data{background-color:#004a9f;}
.col-md-3:nth-child(3) .solution-data{background-color:#013A7D;}
.col-md-3:nth-child(4) .solution-data{background-color:#012754;}
.solution-data{border-radius:10%;}
.solution-data h3{color:#fff;text-align:center;padding:20px 15px;font-size:22px;font-weight:bold;}
.solution-data p{color:#fff;text-align:center;padding:25px 10px;}
.solution-data div{max-width:125px;margin:0 auto;margin-top:-68px;border-radius:50%;background-color:#35383C;border:5px solid #0063D8;min-height:125px;}
.sol-learn{background-color:#F7F7F7;padding:0 0 3em 0;}
.sol-learn h3{font-size:25px;font-weight:bold;}
.sol-learn p{font-size:17px;}
.sol-learn ul{font-size:17px;font-weight:bold;color:#0063d8;}
.sol-learn .row{border-bottom:1px solid #807C7D;}
.sol-learn .row:last-child{border-bottom:none;}
.order{padding:4em 0;background-color:#fff;}
.order h2 ,.order h1{font-size:3em;text-align:center;margin:0px 0px 20px 0px;font-family:proxima-nova;letter-spacing:0px;color:#0063D8;}
.order-box{margin:0px;padding:0px;box-shadow:4px 4px 5px 1px rgba(189,189,189,1);margin-bottom:30px}
.order-name{background-color:#0063D8;margin:0px;}
.order-name i{cursor:pointer;}
.order-name h3{font-size:1.6em;margin:0;font-family:proxima-nova;letter-spacing:0px;color:#fff;padding:15px;}
.order-detail{background-color:#fafafa;padding:20px;}
.order-detail p{font-size:1.2em;padding:5px;color:#35383C;}
.order-detail .blue{color:#0063d8;}
.order-detail i{background-color:#efeded;padding:3px;cursor:pointer;font-size:13px;}
.order-money{background-color:#efeded;margin:10px;}
.order-money p{padding:10px 10px 0px 10px;}
.order-money span{font-weight:bold;}
.order-btn a , .order-btn button{background-color:#242C39;margin:25px 0px;padding:15px;font-weight:bold;font-size:1.3em;}
.order-btn a:hover , .order-btn button:hover , .order-btn a:focus , .order-btn button:focus{background-color:#0063d8;color:#fff;}
.customer{padding:4em 0;background-color:#fff;}
.customer h2{font-size:3em;text-align:center;margin:0px 0px 40px 0px;font-family:proxima-nova;letter-spacing:0px;color:#0063D8;}


.cust-cust{padding:0px;}
.cust-cust h3{font-size:18px;}
.cust-side-col3{padding:5px;margin:0;border-bottom:1px solid #F5F3F4;min-height:35px;}

.sd-lf:nth-child(1){background-color:#0063d8;  color:#fff; border-color: #edeff0; position: relative; z-index:2;}
.sd-lf:after{    content: '';
    position: absolute;
    top: 2px;
    left: 100%;
    height: 0;
    width: 0;
    border: 31px solid transparent;
    border-right-width: 0;
	border-color:white;
    border-left-width: 20px;
	
}
.p.steps ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    width: 100%;
    background: #fafafa;
    border: 1px solid #ccc;
}
.p.steps li.active {

    color: #FFF;
}
.p.steps li.active:after {
	content:"\f063";
	font-family: FontAwesome;
	margin-left:15px
}
.p.steps li .angle {
    position: absolute;
    height: 45px;
    padding: 1px;
    width: 47px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transform: rotateZ(45deg);
    top: 9px;
    right: -23px;
    background-color: inherit;
    z-index: 2;
}
.p.steps li {
    float: left;
    padding: 14px 0;
    text-align: center;
    width: 25%;
    position: relative;
    color: #BBB;
	font-size: 18px;
}

.p.steps li:nth-child(1){background-color:#0063d8; color:#fff;}
.p.steps li:nth-child(2){background-color:#004a9f; color:#fff;}
.p.steps li:nth-child(3){background-color:#013a7d; color:#fff;}
.p.steps li:nth-child(4){background-color:#012754; color:#fff;}

.cust-side-col3 i{background-color:#0063D8;color:#F5F3F4;position:absolute; left: 38%; top: 70%; font-size:20px;z-index:1;}

.quick-links .select2-container--default .select2-selection--single {
    height:49px;
    border: 1px solid #eee;
    border-radius: 0px;
}
.quick-links .select2-selection__rendered{font-size:18px;text-align:left;padding-top:7px;}
.cust-sidebar{background-color:#0063d8;min-height:900px;}
.cust-sidebar h3{font-size:20px;text-align:center;padding:0;margin:0;font-weight:600;}
.cust-sidebar h3 a{color:#35383c;}
.cust-side-col1{background-color:#F5F3F4;padding:10px 16px;}
.cust-side-col2{padding:10px;margin:0;border-right:1px solid #F5F3F4;min-height:85px;}
.cust-side-col2 i{background-color:#0063D8;color:#F5F3F4;position:absolute;left:93%;top:41%;font-size:20px;z-index:1;}
.cust-detail{background-color:#0063d8;padding:10px 15px 50px 15px;}
.cust-detail h3{color:#fff;margin-top:10px;}
.cust-form{background-color:#FAFAFA;padding:20px 0px;}
.cust-form form{margin:20px 15px 20px 15px;}
.cust-form input{height:50px;background-color:#EFEDEE;border:2px solid #0063d8;border-radius:0;margin-bottom:20px;}
.cust-form select{height:50px;background-color:#EFEDEE;border:2px solid #0063d8;border-radius:0;}
.bill-detail{background-color:#0063d8;padding:10px 15px 50px 15px;margin-top:20px;}
.bill-detail h3{color:#fff;margin-top:15px;}
.cust-detail-button button{background-color:#1B2848;color:#fff;margin:25px 15px 0;padding:15px 25px;font-weight:bold;font-size:1.3em;}
.cust-detail-button button:hover{background-color:#0063d8;color:#fff;}
.del-detail{padding:4em 0;background-color:#fff;}
.del-detail h2{font-size:3em;text-align:center;margin:0px 0px 40px 0px;font-family:proxima-nova;letter-spacing:0px;color:#0063D8;}
.delegate-sidebar, .summary-sidebar{background-color:#0063d8;min-height:736px;}
.delegate-sidebar h3, .summary-sidebar h3{font-size:20px;text-align:center;margin:0;font-weight:600;}
.delegate-sidebar h3 a , .summary-sidebar h3 a{color:#35383c;}
.delegate-detail, .summary-detail{background-color:#0063d8;padding:10px 15px 50px 15px;}
.delegate-detail h3 , .summary-detail h3{color:#fff;margin-top:10px;}
.delegate-detail p , .summary-detail p{color:#fff;}
.delegate-detail p i{color:#0063d8;font-size:15px;background-color:#fff;margin-right:7px;}
.delegate-form , .summary-form{background-color:#FAFAFA;padding:20px 0px;}
.delegate-form form , .summary-form form{margin:20px 15px 20px 15px;}
.delegate-form p, .summary-form p{margin:5px 20px;font-weight:600;font-size:1.2em}
.delegate-form p span , .summary-form p span{color:#0063d8;font-weight:600;word-wrap: break-word;}
.delegate-form input , .summary-form input{height:50px;background-color:#EFEDEE;border:2px solid #0063d8;border-radius:0;margin-bottom:20px;}
.delegate-form select , .summary-form select{height:50px;background-color:#EFEDEE;border:2px solid #0063d8;border-radius:0;}
.summary-form-item{background-color:#FAFAFA;padding:0;margin-bottom:15px}
.odr-del input{margin-bottom:0}
.delegate-course , .summary-course{background-color:#0063d8;padding:20px 15px 30px 15px;margin-bottom:30px;}
.delegate-course h3 , .summary-course h3{color:#fff;margin-top:5px;}
.del-detail-button a , .del-detail-button button, .summary-button a{color:#fff;background-color:#1B2848;margin:25px 0px;padding:15px 25px;font-weight:bold;font-size:1.3em;}
.del-detail-button a:hover , .del-detail-button button:hover, .summary-button a:hover{background-color:#0063d8;color:#fff;}
.del-detail-button a:focus , .del-detail-button button:focus, .summary-button a:focus{background-color:#0063d8;color:#fff;}
.summary{padding:4em 0;background-color:#fff;}
.summary h2{font-size:3em;text-align:center;margin:0px 0px 40px 0px;font-family:proxima-nova;letter-spacing:0px;color:#0063D8;}
.summary-course{margin:10px 0px 10px 0px;}
.summary-detail{margin-bottom:15px;}
.summary-tc input{height:17px;width:30px;float:left}
.summary-tc a{color:#0063d7;}
.del-input{height:17px;width:30px;float:left;}
.cus-input{height:17px;width:30px;float:left;margin-top:10px !important;}
.bill-detail p{color:#fff;margin:10px 0;}
.summary-tc{padding:0px;margin:20px 0px}
.summary-tc p{color:#0063d8;margin:0px;float:left;line-height:2;}
.summary-sidebar{min-height:1191px;}
.ui-corner-all{background:rgba(0, 0, 0, 0) none repeat scroll 0 0;display:block;padding:5px;}
.ui-menu-item{padding:0 !important}
.elcas{padding:2em 0;background-color:#fff;}
.elcas h2{font-size:2.6em;text-align:center;font-family:proxima-nova;letter-spacing:0px;margin:0.8em 0;color:#0063d7;}
.elcas h3{font-size:2.2em;font-family:proxima-nova;letter-spacing:0px;margin:0.8em 0.3em;}
.elcas-box{border-bottom:1px solid #EFEDEE;}
.elcas p{margin:10px 0; text-align:justify;}
.elcas img{margin:10px; display:inline-block;}
.elcas-box ul li{font-size:18px; margin:0.5em 0; list-style:disc;}
.client{padding:2em 0;background-color:#fff;}
.client h3{font-size:2.6em;text-align:center;font-family:proxima-nova;letter-spacing:0px;margin:1em 0; color:}
.client h3 span{color:#0063d7;}
.client-box{background-color:#0063d8; font-size:18px; color:#fff; padding:20px;} 
.client-box p{line-height: 3;}
.client-btn{background-color:#293043; padding:20px; font-size:27px;}
.error404 p{color:#0063d8;font-size:40px}
.error404 p:first-child{font-size:75px;text-shadow: 2px 2px 6px rgba(150, 150, 150, 1);}
.error404{padding:30px 0px}
@media screen and (min-device-width:992px) and (max-device-width:1024px){.venue-info{min-height:216px !important;padding:31px;}
.blog-info p{margin-top:10px;padding:5px;}
.blog-content{min-height:152px;}
.blog-time{margin-top:5px;}
.blog-time p{margin:10px;padding:0px;}
}
@media screen and (min-device-width:360px) and (max-device-width:736px){.contact-enquiry{height:71px !important;}
}
@media only screen and (max-width:1024px){.section1 .info-box p{font-size:1em;}
.logo-bar ul {font-size: 13px;}
.certifications .ul-left a img{margin-top:15px;margin-right:5px;}
.cust-side-col2 i{left:90%}
header .slide-img{padding:3em 2em;}
.tab-contents h2 , .tab-contents h1{font-size:22px}
div.slider-tab-content ul > li{padding:0.3em 0;}
.mar-lft{margin-left:0%}
.section1 .info-box{width:54%;}
.section1 .info-box p{padding:0.5em 0;}
.contact-enquiry{height:71px;background-size:cover;}
.contact-form button{font-size:20px;}
.contact-enquiry p{padding:7px 0%;font-size:1.5em;}
.navbar-nav > li > a{padding:9px 6px;}
.navbar-nav{font-size:1.1em;}
.search-bar .btn{font-size:1.3em;}
.about-box h2{font-size:2.5em;}
footer .links ul li{padding:1px 0;}
.onsite-form button{font-size:15px;}
.onsite-form{padding:0.5em;}
.col-sm-6 .solution-data{margin-bottom:60px;}
.col-sm-6:last-child .solution-data{margin-bottom:0px;}
.col-sm-6:nth-child(3) .solution-data{margin-bottom:0px;}
.sol-learn ul , .sol-learn p{font-size:14px;}
.section2 ul li{width:100%;float:left;}
.section2 ul li a{width:100%;}
.course-content .ul-left li h3{width:85%;min-height: 95px;}
.course-content .nav-tabs > li a{padding:0.5em 1em;}
.table > tbody > tr > td{font-size:1.1em;}
.course-date .buttons li a{font-size:1em;}
.certifications .ul-left h3{width:89%;}
.course-date .buttons li a img{width:18px;margin-right:5px;}
.course-date .buttons li a img + img{margin-top:0px;}
.course-date .buttons li a#goto4 ,.course-date .buttons li a#goto5 ,.course-date .buttons li a#goto6{padding:5px 7px;}
.cart-icon img{width:25px;height:25px;}
.fixed{position:static;}
.section4 .box1 , .section4 .box2{min-height:105px}
.all-arw .btn img{width:15px;height:15px;margin-left:4px;`}
.section2 .ul-left li h3{width:70%}
.dropdown-menu{width:1026px;}
.venue-info{min-height:210px;padding:31px;}
.arc img{width:191px;}
.colm a{padding:0.8em 1em}
.section1 .info-box h3 a{font-size: 16px;}
.table>tbody>tr>td .price {  text-align: center;  font-size: 1em;}
.list-pad{padding-left:2px !important; padding-right:10px !important;}
.p.steps li { padding: 7px 0;font-size: 14px;}
.p.steps li .angle { height: 30px; width: 30px;top: 6px; right: -16px;}
.p.steps li.active:after { margin-left: 1px;}
}
@media only screen and (max-width:767px){.show-more{margin-top:0;width:100%;margin-bottom:11px;}
.list-dates{margin-left:0;}
.course-content .tab-content p, .course-content .tab-content li p{font-size:18px;}
.course-date .buttons li a img{margin-left:6px;}
.course-date .buttons li a img + img{width:17px;height:17px;margin-left:7px;}
#toolbar a img{width:30px;height:30px;}
.order-name h3{width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.section2 ul li{width:100%;}
.blog-detail p{padding:20px 5px;}
.blog-detail h3 span{margin:10px;}
.blog-info p{margin-top:15px;padding:0px 10px 0px 10px;}
.certifications .ul-left a img{margin-top:15px;margin-right:7px;}
.cust-side-col2 i{left:95%}
.cust-sidebar , .delegate-sidebar, .summary-sidebar{background-color:#0063d8;min-height:548px;margin-bottom:20px;}
.del-detail-button{padding-left:15px;}
.summary-button a{padding:15px 10px;font-size:1.1em;width:100%;mARGIN:0 0 10PX 0;}
.inner-banner h1{font-size:3em;}
.course-subcategory h2 , .course-subcategory .wht-include , .course-content h2 , .course-schedule h2{font-size:2.3em;}
.course-subcategory .btm-bor p , .course-content .btm-bor p , .course-schedule .btm-bor p{font-size:2.3em;}
.about-box h2{font-size:2.5em;margin-bottom:0.2em;}
.about-desc-border{border-bottom:2px solid #EFEFEF;border-right:0px;}
.test-data{background-color:#0063D8;padding:15px;margin-bottom:10px;}
.top-bar .arrow{font-size:10px;text-align:left;}
.select-box select{width:136px;margin-top:9px;}
.logo-bar ul{float:none;font-size:12px;}
.logo-bar ul .fa{position:static;font-size:20px;}
.logo-bar ul li + li{margin-left:4px;}
.logo-bar ul li{padding-right:3px;}
.top-bar ul li + li{margin-left:0em;}
.onsite-form{padding:0.5em;}
.contact-form button{font-size:16px;}
.form-group{margin-bottom:5px;}
.contact-enquiry{height:59px;background-size:cover;}
.contact-enquiry p{padding:18px 20%;font-size:1em;}
.pd-r{padding-right:15px;}
.pd-l{padding-left:15px;}
.contact-font i{margin:0px 6px;}
p{text-align:justify}
.contact{padding:2em 0;}
.section5 h2{font-size:2.1em;}
.arc{padding:0px 15px}
.arc img{width:43%;float:left;}
.tsts .text-right{text-align:left;}
.section3 .colm{padding:7px 15px 7px 15px;text-align:center;}
.section3 .colm a{padding:0.5em 2em;font-size:1.5em;}
.section2 ul li{padding:0;}
.section2 ul li a{width:100%;padding:0.5em;}
.section2 .ul-left li a img{height:25px;width:32px;float:left;}
.section2 .ul-left li a h3{margin:5px 0px;float:left;font-size:1em;padding:0px 1px;width:76%;}
.section2 .ul-left li img:nth-of-type(2){width:25px;height:18px;}
.section1 .info-box{padding:1em;width:56%;left:40%;top:4%;}
.section1 .info-box h3{font-size:18px;}
.section1 .info-box p{padding:0.8em 0;}
.carousel{padding:0;}
.section1 .count-box img{height:50px;}
.section1 .count-box p{font-size:2.5em;}
.section4 .box1{width:100%;border-left:none;}
.section4 .box2{width:100%;margin:0;}
.section4 .box3{width:100%;min-height:auto;}
.certifications .ul-left h3{width:91%;}
.dropdown-menu .slide-img{padding:0px 2em 3em;}
.block{display:inline}
header .slide-img{padding:3em 1em;}
.tab-content{padding:20px;}
.tab-pane h2{font-size:28px;}
.cart-icon{position:absolute;top:2px;}
.cart-icon img{width:30px;}
.tab-pane h2{font-size:18px;}
.tab-content .form-control{font-size:18px;height:45px;}
.tab-content .btn{font-size:1.5em;padding:0.3em;margin:0.5em 0;}
header .slide-img{padding:1em 1em;}
.tab-content .btn img{width:20px;height:20px;}
div.slider-tab-container{padding:0px 15px !important;margin-top:10px}
.list-group-item{padding:10px 5px;}
.slider-tab-content .lft-ul{width:100%;padding:0.6em;}
.v-img{padding:0 10px;}
.venue-info h3{text-align:left;}
.venue-info p{text-align:left;}
.venue-info{padding:20px;}
.venue-detail h3{padding:10px 15px;}
.venue-detail p{padding:10px 15px;}
.venue h2{font-size:2.5em}
.venue{padding:2em 0;}
.solution-data{margin-bottom:90px;}
.col-sm-6:last-child .solution-data{margin-bottom:-30px;}
.solution-data div{display:inline-block;width:100%;max-width:100%}
.solution img{margin:0 auto;}
.solution-box{margin-top:3em;}
.sol-learn .pad-tb{padding:15px;}
.sol-learn h3{padding:0;}
.sol-learn .row{border-bottom:none;}
.solution-data{border-radius:20px;}
.course-content ul .list{width:100%;}
.course-content .ul-left li h3{width:84%;font-size:1.2em}
.course-content .nav-tabs > li{width:100%}
.course-content .nav-tabs > li a{padding:0.5em;}
.modal-dialog{width:auto;}
.conts{display:block;width:100%;}
.section4 .box2 .box-heading{white-space:normal;}
.section4 .box1, .section4 .box2{min-height:auto;}
.all-arw-m .btn img{height:15px;margin-top:-2px;margin-left:5px;width:15px;}
.order-detail{padding:10px;}
.order-money p{float:left;}
.order-money span{float:left !important}
.order-btn a , .order-btn button{margin:15px 0px;width:100%;}
p{font-size:18px}
tbody td{display:block;text-align:center;}
tbody td:before{content:attr(data-th);display:block;text-align:center;}
table{width:100%;}
thead{display:none;}
.table>tbody>tr>td:first-child{padding-left:20px;}
.course-schedule .buttons .btn-blue{margin-bottom:0;}
.course-schedule .buttons .btn{float:none;width:45%;}
.section4 ul{margin-top:1em;}
.course-subcategory .buttons .btn{float:none;width:55%;margin-right:5px;margin-top:5px;}
.course-subcategory .course-list{padding:1em 0;}
.online-course .boxes .top-padd .box-bor{min-height:auto}
.certifications .ul-left li{width: 100%;}
.course-content .ul-left li h3 { min-height: auto;}
}